@import "./base16-waybar/colors/base16-ashes.css";

* {
  border-radius: 0;
  border: none;

  font-family: FiraCode Nerd Font Propo;
  font-size: 1rem;

  margin: 0px;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  color: @base07;
}

#idle_inhibitor {
  color: @base01;
  font-size: 2rem;
  background: @base0A;
  margin-bottom: 10pt;
  padding: 5pt 0;
}

#idle_inhibitor.activated {
  box-shadow: 0px 0px 10px 3px @base03 inset;
}
