@import "./base16/scss/base16-onedark.scss";
// $base00: #282936;
// $base01: #3a3c4e;
// $base02: #4d4f68;
// $base03: #626483;
// $base04: #62d6e8;
// $base05: #e9e9f4;
// $base06: #f1f2f8;
// $base07: #f7f7fb;
// $base08: #ea51b2;
// $base09: #b45bcf;
// $base0A: #00f769;
// $base0B: #ebff87;
// $base0C: #a1efe4;
// $base0D: #62d6e8;
// $base0E: #b45bcf;
// $base0F: #00f769;

* {
  all: unset;
  // all: inherit;
}

.base {
  font-size: 3.4em;
  font-family:
    Noto Sans,
    FiraCode Nerd Font;
  border: 1.5pt solid $base05;
  color: $base06;
  border-radius: 5pt;
  padding: 4pt;
  margin: 4pt;
  background-color: $base01;
}

scale trough {
  background-color: $base03;
  border-radius: 5pt;
  min-height: 20pt;
  min-width: 200pt;
  margin-left: 10pt;
  margin-right: 20pt;
  border: 1.5pt solid $base05;
}

scale trough slider {
}
scale trough highlight {
}

.battery {
  &-charging {
    background-image: linear-gradient(
      $base0B,
      $base01,
      $base01,
      $base01,
      $base0B
    );
  }
}

.xkb_layout {
  font-size: 1.8rem;
}

.brightness {
  &-value {
    background: $base00;
    border-radius: 5pt;
    border: 1pt solid $base05;
    min-height: 30pt;
    min-width: 30pt;
    // padding: 5pt;
    padding: 2pt 6pt;
  }
  &-value-label {
    font-size: 2.5rem;
    font-weight: bold;
    color: $base05;
  }
  & trough highlight {
    background-color: $base0B;
  }
  & label:hover {
    color: black;
    background: black;
  }
}

.pw-out {
  &-mute {
    &-button {
      min-height: 30pt;
      min-width: 30pt;
      border: 1px solid $base06;
      padding: 2pt 6pt;
      border-radius: 5pt;

      &:hover {
        box-shadow: inset 0px 0px 5px $base06;
        outline: none;
      }

      &:active {
        background: $base01;
        box-shadow: inset 0px 0px 5px $base06;
        outline: none;
      }

      &-active {
        background: $base00;
      }

      &-inactive {
        background: $base08;
      }
    }

    &-label {
      font-size: 1.3rem;
      font-weight: bold;
      color: $base05;
    }
  }

  &-scale trough {
    background-color: $base03;
    border-radius: 5pt;
    min-height: 20pt;
    min-width: 200pt;
    margin-left: 10pt;
    margin-right: 20pt;
    border: 1.5pt solid $base05;

    & highlight {
      background-color: $base0D;
    }
  }
}

.pw-in {
  &-mute {
    &-button {
      min-height: 30pt;
      min-width: 30pt;
      border: 1px solid $base06;
      padding: 2pt 6pt;
      border-radius: 5pt;

      &:hover {
        box-shadow: inset 0px 0px 5px $base06;
        outline: none;
      }

      &:active {
        background: $base01;
        box-shadow: inset 0px 0px 5px $base06;
        outline: none;
      }

      &-active {
        background: $base00;
      }

      &-inactive {
        background: $base08;
      }
    }

    &-label {
      font-size: 1.3rem;
      font-weight: bold;
      color: $base05;
    }
  }

  &-scale trough {
    background-color: $base03;
    border-radius: 5pt;
    min-height: 20pt;
    min-width: 200pt;
    margin-left: 10pt;
    margin-right: 20pt;
    border: 1.5pt solid $base05;

    & highlight {
      background-color: $base0F;
    }
  }
}

// For styling menus, check out
// https://github.com/elkowar/eww/issues/1244#issuecomment-2542995296
// https://github.com/elkowar/eww/issues/1067#issuecomment-2042334673
menu  {
  font-size: 1.5rem;
  font-family:
    Noto Sans,
    FiraCode Nerd Font;
  border: 1.5pt solid $base05;
  color: $base06;
  border-radius: 5pt;
  padding: 4pt;
  margin: 4pt;
  background-color: $base01;

  menuitem {
    border-radius: 5pt;
    padding: 4pt 8pt;
    background-color: transparent;
    transition: all .2s ease;

    &:backdrop {
      background-color: $base03;
    }

    &:disabled {
      color: $base03;
    }

    // &:inactive {
    //   color: $base03;
    // }
  }

  menuitem arrow {
    min-width: 10pt;
    min-height: 10pt;

    &:dir(ltr) {
      -gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
      margin-left: 10px;
      margin-right: 0;
    }
  }

  menuitem check {
    min-width: 10pt;
    min-height: 10pt;
    &:checked {
      -gtk-icon-source: -gtk-icontheme('checkbox-checked-symbolic');
      margin-left: 0;
      margin-right: 10px;
    }
    &:not(:checked) {
      -gtk-icon-source: -gtk-icontheme('checkbox-symbolic');
      margin-left: 0;
      margin-right: 10px;
    }
  }

  menuitem:hover {
    background-color: $base04;
  }
}
